<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Header template</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/}" id="home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a th:href="@{/articles/search-hashtag}" id="hashtag" class="nav-link px-2 text-secondary">Hashtag</a></li>
      </ul>

      <div class="text-end">
        <span class="text-white me-2" sec:authorize="isAuthenticated()" sec:authentication="principal.nickname">
          username
        </span>
        <a role="button" class="btn btn-outline-light me-2" sec:authorize="!isAuthenticated()" th:href="@{/login}">
          Login
        </a>
        <a role="button" class="btn btn-outline-light me-2" sec:authorize="isAuthenticated()" th:href="@{/logout}">
          Logout
        </a>
      </div>
    </div>
  </div>
</header>
</body>
</html>
